
.main-background-container {
    position: absolute;
    top: 12vh;
    width: 100%;
    height: 58.5vh;
    background-color: black;
    z-index: -2;
}

.main-title-container {
    position: absolute;
    left: 25%; 
    top: 30vh;
    transform: translateX(-50%); 
    
}

.main-name {
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-big-letters {

    text-shadow: 0 0 1px #000000, 0 0 2px #090808;
    color: #9c2222;
    font-size: 80px;
    margin: 0;
}

#main-smaller-letters {
    color:#9c2222;
    font-size: 30px;
    margin: 0;
}

#main-description-letters {
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(249, 249, 249);
    font-size: 18px;
    margin: 0;

}

.main-image {
    position: absolute;
    max-width: 50%;
    max-height: 60%;
    right: 0%;
    top: 12vh;
    
    width: 80%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    overflow: hidden;
    z-index: -1;

    clip-path: polygon(100% 0, 100% 100%, 30% 100%, 0 0);
}
/* './images/earth-space.jpg' */
/*  */
.lower-image-container {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    box-sizing: border-box;
    z-index: -1;
    width: 100%;
    height: 50vh;
    background-image: url('./images/earth-space.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 71vh;
    opacity: 0.0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border: 1px solid rgb(0, 0, 0);  /* White border */
    box-shadow: 0 0 0 1px #000, inset 0 0 0 3px #000;
}

.lower-image-container.active {
    opacity: 1;
    transform: translateY(0);
    z-index: -1;
}

.panel-content {
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for readability */
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    padding: 40px;
    color: white;
    text-align: center;
    z-index: 1; /* Raise the content above the image */
}

.info-container {
    position: absolute;
    top: 150vh;
    left: 50%;
    transform: translateX(-50%);

    height: 100vh;
    width: 80%;

    background-color: rgba(255, 255, 255, 0); /* Semi-transparent white */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border-radius: 10px; /* Optional: rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 3); /* Optional: subtle shadow */



    overflow: hidden;
}

.side-shape {

    position: absolute;
    top: 150vh;
    width: 12%;
    height: 120vh;
    background-color: black;
    z-index: 10000;

    border: 1px solid rgb(4, 4, 4);
    box-sizing: border-box;
}

#shape-one {

    left: 0;
    clip-path: polygon(0 0, 100% 35%, 100% 100%, 0 100%);

}

#shape-two {

    right: 0;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);

}